.shareMenu {
  background-color: #262626;
  border-radius: 5px;
  margin: 10px;
  border: #4dc4e4 solid 3px;
  color: white;
  font-size: 20px;
}

.titleContainer {
  padding: 5px;
  margin: 5px;
}

.buttonMenu {
  display: flex;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  padding: 5px;
}
