.buttonMenu {
  display: flex;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shareLink {
  padding: 5px;
}

.linkContainer {
  padding: 5px;
}
