.shareMenu {
  background-color: lightgray;
  border-radius: 5px;
  margin: 10px;
  border: #3399ff solid 2px;
}

.titleContainer {
  padding: 5px;
  margin: 5px;
}

.buttonMenu {
  display: flex;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  padding: 5px;
}
