.loadingButton {
  color: white;
  text-align: center;
  align-self: center;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.loadingButtonText {
  margin: 15px auto;
}

.loadingButtonAnimation {
  margin: auto auto;
}
