.textFieldContainer {
  border-radius: 4px;
  position: relative;
  transition: 0.3s all;
  padding: 1px;
  display: flex;
}

.textInput {
  border-color: #b9ced0;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
}

.textInput:focus {
  border-color: #4dc4e4;
  outline: none;
}
