.songEntryContainer {
  display: flex;
  background-color: darkgray;
  padding: 5px;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}

.songName {
  width: 50%;
}

.headerContainer {
  display: flex;
  background-color: lightgray;
  padding: 5px;
  border-bottom: black solid 2px;
}
